<div class="tienda">
  <section id="leftContact">
    <h1>Farmacia Zi</h1>
    <h2>Montes Himalaya #713</h2>
    <h3>Jardines de la Concepción II</h3>
    <h3>20120 Aguascalientes, Ags.</h3>
    <h3>México</h3>
  </section>
  <section id="rightContact">
  <h2>Tel: (449) 251 66 38</h2>
    <h3>Correo electrónico: <%= mail_to "nutritioncare.ags@hotmail.com"  %></h3>
  </section>
</div>
<div>
  <%= image_tag "FarmaciaZiEnGoogle.png" %>
  <%= image_tag "FotoCalle.png" %>
</div>
