<div class="main_window">
  <div class="search-area">
    <%= form_tag buscar_path, method: :get, class: "navbar-form navbar-left search-form" do %>
      <%= text_field_tag(
          :search,
          params[:search],
          placeholder: "Buscar...",
          size: 40,
          class: "form-control"
      ) %>
      <%= button_tag(type: 'submit', class: "no-view") do %>
        <i class="material-icons md-18">search</i>
      <% end %>
    <% end %>
    <!-- <%= text_field_tag :search, params[:search] %><i class="material-icons md-18">search</i> -->
  </div>
  <div class="buttons-off">


  </div>

</div>
