/* line 5, /home/lflores/Projects/pharma/app/assets/stylesheets/carts.scss */
.carts .item_price, .carts .total_line, #side #cart .item_price, #side #cart .total_line {
  text-align: right;
}
/* line 9, /home/lflores/Projects/pharma/app/assets/stylesheets/carts.scss */
.carts .total_line .total_cell, #side #cart .total_line .total_cell {
  font-weight: bold;
  border-top: 1px solid #cc7400;
}
/* line 5, /home/lflores/Projects/pharma/app/assets/stylesheets/orders.scss */
.orders table {
  border-collapse: collapse;
}
/* line 9, /home/lflores/Projects/pharma/app/assets/stylesheets/orders.scss */
.orders table tr td {
  padding: 5px;
  vertical-align: top;
}
/* line 14, /home/lflores/Projects/pharma/app/assets/stylesheets/orders.scss */
.orders .list_image {
  width: 60px;
  height: 70px;
}
/* line 19, /home/lflores/Projects/pharma/app/assets/stylesheets/orders.scss */
.orders .list_description {
  width: 60%;
}
/* line 22, /home/lflores/Projects/pharma/app/assets/stylesheets/orders.scss */
.orders .list_description dl {
  margin: 0;
}
/* line 26, /home/lflores/Projects/pharma/app/assets/stylesheets/orders.scss */
.orders .list_description dt {
  color: #6b9900;
  font-weight: bold;
  font-size: larger;
}
/* line 32, /home/lflores/Projects/pharma/app/assets/stylesheets/orders.scss */
.orders .list_description dd {
  margin: 0;
}
/* line 37, /home/lflores/Projects/pharma/app/assets/stylesheets/orders.scss */
.orders .list_actions {
  font-size: x-small;
  text-align: right;
  padding-left: 1em;
}
/* line 43, /home/lflores/Projects/pharma/app/assets/stylesheets/orders.scss */
.orders .list_line_even {
  background: #e0ff99;
}
/* line 47, /home/lflores/Projects/pharma/app/assets/stylesheets/orders.scss */
.orders .list_line_odd {
  background: #f7ffe6;
}
/* line 5, /home/lflores/Projects/pharma/app/assets/stylesheets/posts.scss */
.posts table {
  border-collapse: collapse;
}
/* line 9, /home/lflores/Projects/pharma/app/assets/stylesheets/posts.scss */
.posts table tr td {
  padding: 5px;
  vertical-align: top;
}
/* line 14, /home/lflores/Projects/pharma/app/assets/stylesheets/posts.scss */
.posts .list_image {
  width: 60px;
  height: 70px;
}
/* line 19, /home/lflores/Projects/pharma/app/assets/stylesheets/posts.scss */
.posts .list_description {
  width: 60%;
}
/* line 22, /home/lflores/Projects/pharma/app/assets/stylesheets/posts.scss */
.posts .list_description dl {
  margin: 0;
}
/* line 26, /home/lflores/Projects/pharma/app/assets/stylesheets/posts.scss */
.posts .list_description dt {
  color: #6b9900;
  font-weight: bold;
  font-size: larger;
}
/* line 32, /home/lflores/Projects/pharma/app/assets/stylesheets/posts.scss */
.posts .list_description dd {
  margin: 0;
}
/* line 37, /home/lflores/Projects/pharma/app/assets/stylesheets/posts.scss */
.posts .list_actions {
  font-size: x-small;
  text-align: right;
  padding-left: 1em;
}
/* line 43, /home/lflores/Projects/pharma/app/assets/stylesheets/posts.scss */
.posts .list_line_even {
  background: #e0ff99;
}
/* line 47, /home/lflores/Projects/pharma/app/assets/stylesheets/posts.scss */
.posts .list_line_odd {
  background: #f7ffe6;
}
/* line 5, /home/lflores/Projects/pharma/app/assets/stylesheets/products.scss */
.products table {
  border-collapse: collapse;
}
/* line 9, /home/lflores/Projects/pharma/app/assets/stylesheets/products.scss */
.products table tr td {
  padding: 5px;
  vertical-align: top;
}
/* line 14, /home/lflores/Projects/pharma/app/assets/stylesheets/products.scss */
.products .list_image {
  width: 60px;
  height: 70px;
}
/* line 19, /home/lflores/Projects/pharma/app/assets/stylesheets/products.scss */
.products .list_description {
  width: 60%;
}
/* line 22, /home/lflores/Projects/pharma/app/assets/stylesheets/products.scss */
.products .list_description dl {
  margin: 0;
}
/* line 26, /home/lflores/Projects/pharma/app/assets/stylesheets/products.scss */
.products .list_description dt {
  color: #6b9900;
  font-weight: bold;
  font-size: larger;
}
/* line 32, /home/lflores/Projects/pharma/app/assets/stylesheets/products.scss */
.products .list_description dd {
  margin: 0;
}
/* line 37, /home/lflores/Projects/pharma/app/assets/stylesheets/products.scss */
.products .list_actions {
  font-size: x-small;
  text-align: right;
  padding-left: 1em;
}
/* line 43, /home/lflores/Projects/pharma/app/assets/stylesheets/products.scss */
.products .list_line_even {
  background: #e0ff99;
}
/* line 47, /home/lflores/Projects/pharma/app/assets/stylesheets/products.scss */
.products .list_line_odd {
  background: #f7ffe6;
}
/* line 1, /home/lflores/Projects/pharma/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

/* line 10, /home/lflores/Projects/pharma/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

/* line 17, /home/lflores/Projects/pharma/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 23, /home/lflores/Projects/pharma/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 26, /home/lflores/Projects/pharma/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 30, /home/lflores/Projects/pharma/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 36, /home/lflores/Projects/pharma/app/assets/stylesheets/scaffolds.scss */
th {
  padding-bottom: 5px;
}

/* line 40, /home/lflores/Projects/pharma/app/assets/stylesheets/scaffolds.scss */
td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

/* line 47, /home/lflores/Projects/pharma/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 52, /home/lflores/Projects/pharma/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 56, /home/lflores/Projects/pharma/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 62, /home/lflores/Projects/pharma/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 70, /home/lflores/Projects/pharma/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0;
  background-color: #c00;
  color: #fff;
}
/* line 81, /home/lflores/Projects/pharma/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 87, /home/lflores/Projects/pharma/app/assets/stylesheets/scaffolds.scss */
label {
  display: block;
}
/* line 4, /home/lflores/Projects/pharma/app/assets/stylesheets/store.scss */
.store {
  /* AN entry in the store catalog */
}
/* line 5, /home/lflores/Projects/pharma/app/assets/stylesheets/store.scss */
.store h1 {
  margin: 0;
  padding-bottom: 0.5em;
  font: 150% sans-serif;
  color: #476600;
  border-bottom: 3px dotted #a1e600;
}
/* line 14, /home/lflores/Projects/pharma/app/assets/stylesheets/store.scss */
.store .entry {
  overflow: auto;
  margin-top: 1em;
  border-bottom: 1px dotted #a1e600;
  min-height: 100px;
}
/* line 20, /home/lflores/Projects/pharma/app/assets/stylesheets/store.scss */
.store .entry img {
  width: 80px;
  margin-right: 5px;
  margin-bottom: 5px;
  position: absolute;
}
/* line 27, /home/lflores/Projects/pharma/app/assets/stylesheets/store.scss */
.store .entry h3 {
  font-size: 120%;
  font-family: sans-serif;
  margin-left: 100px;
  margin-top: 0;
  margin-bottom: 2px;
  color: #598000;
}
/* line 36, /home/lflores/Projects/pharma/app/assets/stylesheets/store.scss */
.store .entry h4 {
  font-family: sans-serif;
  margin-top: 0;
  margin-bottom: 2px;
  color: #ed8800;
}
/* line 43, /home/lflores/Projects/pharma/app/assets/stylesheets/store.scss */
.store .entry .description {
  margin-left: 100px;
}
/* line 47, /home/lflores/Projects/pharma/app/assets/stylesheets/store.scss */
.store .entry p, .store .entry div.price_line {
  margin-left: 100px;
  margin-top: 0.5em;
  margin-bottom: 0.8em;
}
/* line 52, /home/lflores/Projects/pharma/app/assets/stylesheets/store.scss */
.store .entry p form, .store .entry p div, .store .entry div.price_line form, .store .entry div.price_line div {
  display: inline;
}
/* line 57, /home/lflores/Projects/pharma/app/assets/stylesheets/store.scss */
.store .entry .price {
  color: #7db300;
  font-weight: bold;
  margin-right: 3em;
}
/* line 5, /home/lflores/Projects/pharma/app/assets/stylesheets/users.scss */
.users table {
  border-collapse: collapse;
}
/* line 9, /home/lflores/Projects/pharma/app/assets/stylesheets/users.scss */
.users table tr td {
  padding: 5px;
  vertical-align: top;
}
/* line 14, /home/lflores/Projects/pharma/app/assets/stylesheets/users.scss */
.users .list_image {
  width: 60px;
  height: 70px;
}
/* line 19, /home/lflores/Projects/pharma/app/assets/stylesheets/users.scss */
.users .list_description {
  width: 60%;
}
/* line 22, /home/lflores/Projects/pharma/app/assets/stylesheets/users.scss */
.users .list_description dl {
  margin: 0;
}
/* line 26, /home/lflores/Projects/pharma/app/assets/stylesheets/users.scss */
.users .list_description dt {
  color: #6b9900;
  font-weight: bold;
  font-size: larger;
}
/* line 32, /home/lflores/Projects/pharma/app/assets/stylesheets/users.scss */
.users .list_description dd {
  margin: 0;
}
/* line 37, /home/lflores/Projects/pharma/app/assets/stylesheets/users.scss */
.users .list_actions {
  font-size: x-small;
  text-align: right;
  padding-left: 1em;
}
/* line 43, /home/lflores/Projects/pharma/app/assets/stylesheets/users.scss */
.users .list_line_even {
  background: #e0ff99;
}
/* line 47, /home/lflores/Projects/pharma/app/assets/stylesheets/users.scss */
.users .list_line_odd {
  background: #f7ffe6;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
/* line 17, /home/lflores/Projects/pharma/app/assets/stylesheets/application.scss */
body, body > p, body > ol, body > ul, body > td {
  margin: 8px !important;
}

/* line 19, /home/lflores/Projects/pharma/app/assets/stylesheets/application.scss */
#banner {
  position: relative;
  min-height: 40px;
  background: #e0ff99;
  padding: 10px;
  /* border-bottom: 2px solid; */
  font: small-caps 40px/40px "Times New Roman", serif;
  color: #a1e600;
  text-align: left;
}
/* line 29, /home/lflores/Projects/pharma/app/assets/stylesheets/application.scss */
#banner img {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
  padding: 10px;
}

/* line 38, /home/lflores/Projects/pharma/app/assets/stylesheets/application.scss */
#notice {
  color: #e6ffff !important;
  border: 2px solid #009999;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #00b3b3;
  font: bold smaller sans-serif;
}

/* line 47, /home/lflores/Projects/pharma/app/assets/stylesheets/application.scss */
#notice:empty {
  display: none;
}

/* line 51, /home/lflores/Projects/pharma/app/assets/stylesheets/application.scss */
#columns {
  background: #f2f2f2;
  display: flex;
}
/* line 55, /home/lflores/Projects/pharma/app/assets/stylesheets/application.scss */
#columns #main {
  padding: 1em;
  background: white;
  flex: 1;
}
/* line 61, /home/lflores/Projects/pharma/app/assets/stylesheets/application.scss */
#columns #side {
  padding: 1em 2em;
  background-color: #ffdeb3;
}
/* line 65, /home/lflores/Projects/pharma/app/assets/stylesheets/application.scss */
#columns #side form, #columns #side div {
  display: inline;
}
/* line 69, /home/lflores/Projects/pharma/app/assets/stylesheets/application.scss */
#columns #side input {
  font-size: small;
}
/* line 73, /home/lflores/Projects/pharma/app/assets/stylesheets/application.scss */
#columns #side #cart {
  font-size: smaller;
  color: #ff9c1a;
}
/* line 77, /home/lflores/Projects/pharma/app/assets/stylesheets/application.scss */
#columns #side #cart table {
  border-top: 1px dotted #cc7400;
  border-bottom: 1px dotted #cc7400;
  margin-bottom: 10px;
}
/* line 84, /home/lflores/Projects/pharma/app/assets/stylesheets/application.scss */
#columns #side ul {
  padding: 0;
}
/* line 87, /home/lflores/Projects/pharma/app/assets/stylesheets/application.scss */
#columns #side ul li {
  list-style: none;
}
/* line 90, /home/lflores/Projects/pharma/app/assets/stylesheets/application.scss */
#columns #side ul li a {
  color: #cc7400;
  font-size: small;
}
/* line 98, /home/lflores/Projects/pharma/app/assets/stylesheets/application.scss */
#columns #side #tardis a:link {
  color: red;
}
/* line 102, /home/lflores/Projects/pharma/app/assets/stylesheets/application.scss */
#columns #side #tardis a:visited {
  color: green;
}
/* line 106, /home/lflores/Projects/pharma/app/assets/stylesheets/application.scss */
#columns #side #tardis a:hover {
  color: #ffdeb3;
  background-color: #ffdeb3;
  text-decoration: none;
  display: block;
}

@media all and (max-width: 800px) {
  /* line 117, /home/lflores/Projects/pharma/app/assets/stylesheets/application.scss */
  #columns {
    flex-direction: column-reverse;
  }
}
@media all and (max-width: 500px) {
  /* line 123, /home/lflores/Projects/pharma/app/assets/stylesheets/application.scss */
  #banner {
    height: 1em;
  }

  /* line 127, /home/lflores/Projects/pharma/app/assets/stylesheets/application.scss */
  #banner .title {
    display: none;
  }
}
/* line 133, /home/lflores/Projects/pharma/app/assets/stylesheets/application.scss */
.depot_form fieldset {
  background: #efe;
  border-radius: 4px;
}
/* line 137, /home/lflores/Projects/pharma/app/assets/stylesheets/application.scss */
.depot_form fieldset legend {
  color: #dfd;
  background: #141;
  font-family: sans-serif;
  padding: 0.2em 1em;
  border-radius: 4px;
}
/* line 145, /home/lflores/Projects/pharma/app/assets/stylesheets/application.scss */
.depot_form fieldset div {
  margin-bottom: 0.3em;
}
/* line 151, /home/lflores/Projects/pharma/app/assets/stylesheets/application.scss */
.depot_form form label {
  width: 15em;
  float: left;
  text-align: right;
  padding-top: 0.2em;
  margin-right: 0.1em;
  display: block;
}
/* line 160, /home/lflores/Projects/pharma/app/assets/stylesheets/application.scss */
.depot_form form select, .depot_form form textarea, .depot_form form input {
  margin-left: 0.5em;
}
/* line 164, /home/lflores/Projects/pharma/app/assets/stylesheets/application.scss */
.depot_form form .submit {
  margin-top: 2em;
  margin-left: 14em;
}
/* line 169, /home/lflores/Projects/pharma/app/assets/stylesheets/application.scss */
.depot_form form br {
  display: none;
}
