/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body, body > p, body > ol, body > ul, body > td { margin: 8px !important}

#banner {
  position: relative;
  min-height: 40px;
  background: #f7ffe6;
  padding: 10px;
  /* border-bottom: 2px solid; */
  font: small-caps 40px/40px "Times New Roman", serif;
  color: #f0ffcc;
  text-align: left;

  img {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    padding: 10px;
  }
}

#notice {
  color: #e6ffff !important;
  border: 2px solid #009999;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #00b3b3;
  font: bold smaller sans-serif;
}

#notice:empty {
  display: none;
}

#columns {
  background: #f2f2f2;
  display: flex;

  #main {
    padding: 1em;
    background: white;
    flex: 1;
  }

  #side {
    padding: 1em 2em;
    background-color: #fff4e6;

    form, div {
      display: inline;
    }

    input {
      font-size: small;
    }

    #cart {
      font-size: smaller;
      color: #ff9c1a;

      table {
        border-top: 1px dotted #cc7400;
        border-bottom: 1px dotted #cc7400;
        margin-bottom: 10px;

        form.button_to {
          input {
            background-color: #ffcc99;
            color: #009900;
            border-radius: 6px;
            font-size: 8px;
            width: 30px;
          }

          input:hover {
            background-color: #fff2e6;
          }
        }
      }
    }

    form.button_to {
      input {
        background-color: #ffcc99;
        color: #009900;
        border-radius: 6px;
        font-size: 16px;
        font-weight: bold;
        width: 150px;
      }

      input:hover {
        background-color: #fff2e6;
      }
    }

    ul {
      padding: 0;

      li {
        list-style: none;
        padding: 3px;

        a {
          color: #cc7400;
          font-size: 16px;
          font-weight: bold;
        }
      }
    }

    a#tardis {

      :hover {
        text-decoration: none;
        display: block;
      }

      img {
        width: 30px;
        height: 30px;
        padding-left: 70px;
        padding-top: 50px;
      }

      img:hover {
        text-decoration: none;
        display: block;
      }
    }
  }
}

@media all and (max-width: 800px) {
  #columns {
    flex-direction: column-reverse;
  }
}

@media all and (max-width: 500px) {
  #banner {
    height: 1em;
  }

  #banner .title {
    display: none;
  }
}

.depot_form {
  fieldset {
    background: #efe;
    border-radius: 4px;

    legend {
      color: #dfd;
      background: #141;
      font-family: sans-serif;
      padding: 0.2em 1em;
      border-radius: 4px;
    }

    div {
      margin-bottom: 0.3em;
    }
  }

  form {
    label {
      width: 15em;
      float: left;
      text-align: right;
      padding-top: 0.2em;
      margin-right: 0.1em;
      display: block;
    }

    select, textarea, input {
      margin-left: 0.5em;
    }

    .submit {
      margin-top: 2em;
      margin-left: 14em;
    }

    br {
      display: none;
    }
  }
}
