// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.store {
  h1 {
    margin: 0;
    padding-bottom: 0.5em;
    font: 150% sans-serif;
    color: #476600;
    border-bottom: 3px dotted #a1e600;
  }

  button.accordion {
    background-color: #f0f5f5;
    color: #00b38f;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.6s;
  }

  button.accordion.active, button.accordion:hover {
    background-color: #ccc;
  }
  button.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }

  button.accordion.active:after {
    content: "\2212";
  }

  div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    box-sizing: border-box;
  }

  .catalogo {
      background-color: #f0f5f5;
      color: #00b38f;
    }

  /* AN entry in the store catalog */
  .entry {
    overflow: auto;
    margin-top: 1em;
    border-bottom: 1px dotted #a1e600;
    min-height: 100px;

    h3 {
      font-size: 120%;
      font-family: sans-serif;
      margin-left: 100px;
      margin-top: 0;
      margin-bottom: 2px;
      color: #598000;
    }

    h4 {
      font-family: sans-serif;
      margin-top: 0;
      margin-bottom: 2px;
      color: #ed8800;
    }

    .row-container {
      display: inline-table;
      width: 100%;
      box-sizing: border-box;

      .par-imagen {
        width: 20%;
        img {
          width: 80px;
          margin-right: 5px;
          margin-bottom: 5px;
          position: relative;
          float: left;
        }
      }

      .par-descrip {
        width: 50%;
        float: left;
        margin-left: 1px;
      }
    }

    .columna {
      padding: 3px;
    }

    p, div.price_line {
      margin-left: 100px;
      margin-top: 0.5em;
      margin-bottom: 0.8em;

      form, div {
        display: inline;
      }
    }

    .price {
      color: #7db300;
      font-weight: bold;
      margin-right: 3em;
    }

    .row-container:after {
      content: "";
      display: table;
      clear: both;
    }
  }
}

/* The Modal (background) */
.modal {
    /* display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%; /* Full width */
    height: 90%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 20%;
    max-width: 200px;
    color: #fff;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

#img01 {
  align-self: center;
}

/* The Close Button */
.close {
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 20px;
}

.close:hover,
.close:focus {
    color: #ff944d;
    text-decoration: none;
    cursor: pointer;
}
